*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgba(162, 131, 180, 0.904);
    padding: 0 10px;
}
.wrapper{
    text-align: center;
    max-width: 500px;
    width: 100%;
    color: black;
    font-family: monospace;
    background: white;
    height: auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    margin: 20px auto;
    margin-top: 40%;
}

.wrapper .heading{
    font-size: 18px;
    margin-bottom: 25px;
    color: rgba(162, 131, 180, 0.904);
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form .input-number{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input-number .input{
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size:x-large;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.s3 ease;
    color: rgba(162, 131, 180, 0.904);
}

.wrapper .btnn .btn{
    width:100% auto;
    padding:  8px 10px;
    font-size: 15px;
    border: 0; 
    background:rgba(162, 131, 180, 0.904) ;
    border-radius: 3px;
    cursor: pointer;
}
.wrapper .btnn .btn:hover{
    background: rgba(190, 184, 194, 0.904) ;
}